<?xml version="1.0"?>
<ruleset name="WordPress Plugin Coding Standards">
    <description>Custom ruleset for WordPress plugin coding standards</description>

    <!-- Show progress, show the error codes for each message (source). -->
    <arg value="ps" />

    <!-- Check up to 8 files simultaneously. -->
	<arg name="parallel" value="8" />

    <!-- Exclude directories and files -->
    <exclude-pattern>/vendor/</exclude-pattern>
    <exclude-pattern>/node_modules/</exclude-pattern>
    <exclude-pattern>./tests</exclude-pattern>

    <!-- Set target PHP version -->
    <config name="testVersion" value="7.4" />

    <config name="minimum_supported_wp_version" value="5.9"/>

    <!-- Define coding standard -->
    <rule ref="WordPress" />

    <rule ref="Squiz.Commenting.FileComment.Missing">
		<exclude-pattern>*</exclude-pattern>
	</rule>
    
    <rule ref="Generic.Arrays.DisallowShortArraySyntax.Found">
        <exclude-pattern>*</exclude-pattern>
    </rule>
</ruleset>